.App {
  text-align: center;
}

.square{
  width: 100px;
  height: 100px;
  background-color: rgb(44, 57, 241);
  margin: 10px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  
  border: 10px  solid rgba(44, 44, 163, 0.801);
  cursor: pointer;
  font-size: 50px;
  font-weight: bolder;
  color: white;
}
.square:hover{
  transform: scale(1.03);
}
.board-row{
  display: flex;
  flex-wrap: wrap;
}
.game{
  position: fixed;
  top: 100px;
  left: 50px;
}

.score{
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
  background-color: rgb(44, 57, 241);
  border: 10px  solid rgba(44, 44, 163, 0.801);
  cursor: pointer;
  width: 100px;
  height: 75px;
  align-items: center;
}